/* --------------------------- Fonts ---------------------------  */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700|Consolas:400,700|Montserrat:400,700");

@import 'default';

:root {
  font-family: "Montserrat";
}

/* https://marpit.marp.app/theme-css?id=header-and-footer */
header, footer {
  position: absolue;
}

/* outer slide css */
section {
  position: absolute;
  justify-content: flex-start; /* defaults to in theme */
}

br {
  display: none;
}

code {
  font-family: "Consolas", monospace;
}